@font-face {
  font-family: 'Chillax';
  src: url('../fonts/Chillax-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Chillax';
  src: url('../fonts/Chillax-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff2');
  font-weight: 400;
}
:root {
  --color-text-main: rgba(255, 255, 255, 0.6);
  --color-accent: #dac5a7;
}

body {
  font-family: Chillax;
  font-size: 16px;
  font-weight: 300;
  background-color: #0e0e0e;
  color: var(--color-text-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
